@font-face {
  font-family: "Lato_Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato_Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato_Light";
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato_Thin";
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: "Lato_Black";
  src: url(../fonts/Lato-Black.ttf);
}

// * <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
